header.header
	input.input.js-query(type="url", name="weibo", placeholder="http://weibo.com/xxxxxxxxxx/xxxxxxxxx")
	button.button.button--small.js-get-post(type="button", style="margin-left:4px;") Get post